Repository gardener/oidc-webhook-authenticator, pull requests merged in 2021-07, with the labels that each got.

#19 Make test and check files executable
  .ci/check
  .ci/test
Labels: lifecycle/stale, needs/ok-to-test, needs/review, size/xs

#21 Add a helm chart
  .gitignore
  Makefile
  helm.mk
  helm/oidc-webhook-authenticator/.helmignore
  helm/oidc-webhook-authenticator/Chart.yaml
  helm/oidc-webhook-authenticator/crds/authentication.gardener.cloud_openidconnects.yaml
  helm/oidc-webhook-authenticator/templates/_helpers.tpl
  helm/oidc-webhook-authenticator/templates/certificate.yaml
  helm/oidc-webhook-authenticator/templates/clusterrole.yaml
  helm/oidc-webhook-authenticator/templates/clusterrolebinding.yaml
  helm/oidc-webhook-authenticator/templates/deployment.yaml
  helm/oidc-webhook-authenticator/templates/hpa.yaml
  helm/oidc-webhook-authenticator/templates/oidc-config.yaml
  helm/oidc-webhook-authenticator/templates/rolebinding.yaml
  helm/oidc-webhook-authenticator/templates/service.yaml
  helm/oidc-webhook-authenticator/templates/serviceaccount.yaml
  helm/oidc-webhook-authenticator/values.yaml
Labels: needs/review, needs/second-opinion, size/xl

#22 Changed the base build image for oidc-webhook-authenticator
  Dockerfile
  hack/local/run-tests.sh
Labels: needs/ok-to-test, needs/review, size/xs
