Repository gardener/oidc-webhook-authenticator, pull requests merged in 2023-03, with the labels that each got.

#104 Update go to version 1.20.2
  Dockerfile
  dev.Dockerfile
  go.mod
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#105 Fix resync period to be configurable and change default to 10m
  charts/oidc-webhook-authenticator/charts/runtime/templates/deployment.yaml
  charts/oidc-webhook-authenticator/charts/runtime/values.yaml
  charts/oidc-webhook-authenticator/values.yaml
  cmd/oidc-webhook-authenticator/app/options/options.go
Labels: needs/ok-to-test, needs/review, size/xs

#103 Instrument secure server with generic http metrics exposed via diagnostic server
  charts/oidc-webhook-authenticator/charts/runtime/templates/deployment.yaml
  charts/oidc-webhook-authenticator/charts/runtime/values.yaml
  charts/oidc-webhook-authenticator/values.yaml
  cmd/oidc-webhook-authenticator/app/oidc_webhook_authenticator.go
  controllers/authentication/openidconnect_controller.go
  test/integration/integration_suite_test.go
  test/integration/integration_test.go
  webhook/metrics/metrics.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#106 Fix race condition when adding multiple authenticators with same issuer
  controllers/authentication/openidconnect_controller.go
  controllers/authentication/openidconnect_controller_test.go
  controllers/authentication/union_handler_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#107 Update dependencies
  go.mod
  go.sum
  hack/local/run-tests.sh
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/l

#108 Add authz to /metrics
  charts/oidc-webhook-authenticator/charts/runtime/values.yaml
  charts/oidc-webhook-authenticator/values.yaml
  cmd/oidc-webhook-authenticator/app/oidc_webhook_authenticator.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
