Repository gardener/oidc-webhook-authenticator, pull requests merged in 2024-11, with the labels that each got.

#165 Enable gosec for SAST scans
  .ci/check
  .ci/pipeline_definitions
  .gitignore
  .golangci.yaml
  Makefile
  hack/sast.sh
  internal/handlers/handlers.go
  test/integration/env/oidc_webhook_server.go
  test/integration/mock/identityserver.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s, ci/broken-pipeline-definition

#166 Use correct step_name for SAST reporting
  .ci/pipeline_definitions
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs, ci/broken-pipeline-definition

#167 Update go to version 1.23.3
  Dockerfile
  dev.Dockerfile
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
